HTML {
  --rotate: 0deg;
  --rotate2: 0deg;
  --rotate3: 0deg;
}

body {
  background-color: black;
}

.layout {
  /*background-color: black;*/
  width: 100%;
  height: 110%;
  position: fixed;
  left: 0;
  top: -10%;
  border: 3px solid black;
}
.Day_Button {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  width: 80px;
  height: 80px;
  color:white;
  background-color: black;
  font-size: 40px;
  font-weight: bold;
  position: fixed;
  left: 91%;
  top: 80%;
  text-align: center;
  line-height: 80px;
  border-radius: 10%
}

.Day_Text {
  font-size: 16px;
  position: fixed;
  top: 79.5%;
  left: 92.5%;
  color: white;
}
.Month_Button {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  width: 80px;
  height: 80px;
  color:white;
  background-color: black;
  font-size: 40px;
  font-weight: bold;
  position: fixed;
  left: 81.55%;
  top: 80%;
  text-align: center;
  line-height: 80px;
  border-radius: 10%
}

.Month_Text {
  font-size: 16px;
  position: fixed;
  top: 79.5%;
  left: 82.5%;
  color: white;
}

.Year_Button {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  width: 160px;
  height: 80px;
  color:white;
  background-color: black;
  font-size: 40px;
  font-weight: bold;
  position: fixed;
  left: 66%;
  top: 80%;
  text-align: center;
  line-height: 80px;
  border-radius: 10%
}

.Year_Text {
  font-size: 16px;
  position: fixed;
  top: 79.5%;
  left: 70%;
  color: white;
}

/*Month*/
.ModeChanger {
  color: white;
  background-color: black;
  white-space: pre-wrap;
  text-align: center;
  position: fixed;
  left:calc(100% - 220px);
  top:50%;
  font-size: 16px;
  width: 200px;
  height:75px;
  line-height: 25px;
  border: 3px solid white;
}

.Moon {
  rotate: var(--rotate2);
  position:fixed;
  left: calc(50% - 300px);
  top: calc(50% - 500px);
}

.Sun {
  rotate: var(--rotate3);
  position:fixed;
  left: -2400px;
  top: -1000px;
}



/*Day*/

.Earth {
  rotate: var(--rotate);
  position: fixed;
  left:calc(50% + 50px);
  top:calc(50% - 150px);
  transform: scale(60%, 60%);
}

.circle_box {
  /*background-color: lightgray;*/
  width: 180px;
  height: 180px;
  border-radius: 150px;
  position: fixed;
  left:calc(50% + 110px);
  top:calc(50% - 105px);
  opacity: 0.3;
}

.circle_box2 {
  /*background-color: red;*/
  width:1000px;
  height:1000px;
  border-radius: 500px;
  position: fixed;
  left:calc(50% - 300px);
  top:calc(50% - 510px);
  opacity: 0.3;
}

.circle_box3 {
  /*background-color: green;*/
  width:3000px;
  height:3000px;
  border-radius: 1500px;
  position: fixed;
  left:-2650px;
  top:-1000px;
  opacity: 0.3;
}

.Spin_Power_Text {
  color: white;
  position: fixed;
  top: 15%;
  white-space: pre-wrap;
}

.UnClick_Circle {
  /*background-color: blue;*/
  width:700px;
  height:700px;
  border-radius: 50%;
  position: fixed;
  left:calc(50% - 150px);
  top:calc(50% - 350px);
  opacity: 0.3;
}